<header class="text-center">
    <img src="https://i.pinimg.com/736x/be/ee/cb/beeecb4909c942100862d6dfb3938976.jpg" alt="Avatar" class="avatar img-fluid rounded-circle mb-3">
    <h1 class="fs-4 fw-bold">David Lorenzo</h1>
    <p class="lead">Ilustrador de arte digital. Modelador 3D. Apasionado por la inovación.</p>
    <div class="d-flex flex-wrap gap-2 justify-content-center">
        <span class="badge border border-2 border-opacity-50 px-4 py-2 rounded-pill fw-medium">All</span>
        <span class="badge border border-2 border-opacity-50 px-4 py-2 rounded-pill fw-medium">Design</span>
        <span class="badge border border-2 border-opacity-50 px-4 py-2 rounded-pill fw-medium">Modelado 3D</span>
    </div>
</header>