---
import IlustratorCard from "./IlustratorCard.astro"
---
<main class="col-12 col-md-9 col-lg-9 my-1">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 gx-3 justify-content-center">
        <IlustratorCard title='Titulo de Ejemplo' description='Descripción de ejemplo' url='./1.jpg' tags={['Arte', 'Anime', 'Ilustración']} />
        <IlustratorCard title='Titulo de Ejemplo' description='Descripción de ejemplo' url='./2.jpg' tags={['Arte', 'Anime']} />
        <IlustratorCard title='Titulo de Ejemplo' description='Descripción de ejemplo' url='./3.jpg' tags={['Arte', 'Anime', 'Ilustración', 'Anime girls']} />
        <IlustratorCard title='Titulo de Ejemplo' description='Descripción de ejemplo' url='./4.jpg' tags={['Arte', 'Anime', 'Ilustración']} />
    </div>
</main>